<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Student Detail</title>
    {%load static%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/43bd965db5.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css">
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="{%static 'assets/css/sidebar.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/viewStudent.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/communities.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/createCommunity.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/activities.css'%}">
</head>
<body>
<div class="wrapper d-flex align-items-stretch ">
    <nav id="sidebar" class="" style="height: 100vh;">
        <div class="custom-menu ">
            <button type="button" id="sidebarCollapse" class="btn btn-primary ">
                <i class="fa fa-bars " style="color: white;"></i>
                <span class="sr-only ">Toggle Menu</span>
            </button>
        </div>
        <div class="p-4 ">
            <div class="d-flex flex-row align-items-stretch ">
                <img src="{%static 'assets/img/navlogo.png'%}" alt=" " height="40 " width="40 " style="margin-right: 20px; ">
                <div>
                    <h5><b> TeknoLink Administrator</b></h5>
                </div>
            </div>
            <hr>
            <br>
            <ul class="list-unstyled components mb-5 ">
                <li class="active">
                    <a href="{% url 'Creator:students_view' %}"><span  class="fa fa-graduation-cap mr-3 " id="yellow"></span> Student</a>
                </li>
                <li >
                    <a href="{% url 'Creator:student_posts_view' %}"><span  class="fa fa-clipboard mr-3 "></span> Student Post</a>
                </li>
                <li>
                    <a href="{% url 'Creator:communities_view' %} "><span class="fa fa-sitemap mr-3 "></span> Community</a>
                </li>
                <li>
                    <a href="{% url 'Creator:skill_skill_category_view' %}"><span class="fa fa-level-up mr-3 "></span> Skill/Category</a>
                </li>
                <li>
                    <a href="{% url 'Creator:departments_colleges_view' %} "><span class="fa fa-university mr-3 "></span> College/Department</a>
                </li>
                <li>
                    <a href="{% url 'Creator:jobs_companies_view' %}"><span class="fa fa-briefcase mr-3 "></span> Job/Company</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class=" " style="width:100%; ">
        <div class="topbaR">
            <div>
                <i class="fa fa-bell-o fa-lg " aria-hidden="true "></i>
            </div>
        </div>
        <div style="overflow-y: scroll; height: 100vh;">
    <!--Student Information-->
    <div class="container container-communities">
        <div class="row">
            <div class="col-sm-12 col-md-3 p-0">
                <p class="text-center pageTitle p-1">Personal Information</p>
            </div>
        </div>
        <form class="row" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="col-md-4 mb-4 mt-4">
                <section>
                    <div class="card mb-4 view-student-card">

                        <div class="card-header bg-white text-center py-3">
                            <h5 class="mb-0 labels">Profile Picture</h5>
                        </div>

                        <div class="card-body d-flex justify-content-center">
                        {%if student.profile_picture.url is not null%}
                            <img src="{{student.profile_picture.url}}" alt="" style="width: 200px;" id="profile-image-view-student">
                        {%else%}
                            <img src="{% static 'assets/img/background.png'%}" alt="" style="width: 200px;" id="profile-image-view-student">
                        {% endif %}
                        </div>
                    </div>
                    <div style="height:0px;overflow:hidden">
                        <input type="file" id="fileInput-view-student" name="fileInput" />
                        <input type="text" value="F" name="changeFlag" hidden class="changeFlag">
                     </div>
                    <button type="button" class="btn btn-block mb-4 upload-profile-pic-student-btn w-75" id="upload-profile-pic-view-student-btn">Upload Photo</button>
                </section>
            </div>
            <div class="col-md-8">
                <section class="p-4">
                    <div class="row">
                        <div class="col-md-6 col-view-student">
                            <p class="labels mt-2 id-label">Student Id<span class="invalid-username ml-2 d-none" style="padding: 5px;">Id is taken</span><span class="d-none valid-username ml-2" style="padding: 5px;">Id is available</span></p>
                            <div class="form-item d-flex align-content-center inputWrapper">
                                <input class="form-input form-input-view-student" type="text" name="student_id_orig" value="{{student.user_id}}" hidden>
                                <input class="form-input form-input-view-student" type="text" name="student_id" value="{{student.student_id_editable}}" id="student_initial_id" hidden>
                                <input class="form-input form-input-view-student" type="text" name="student_id" value="{{student.student_id_editable}}" id="student_id" required>
                            </div>
                        </div>
                        <div class="col-md-6 col-view-student">
                            <p class="labels mt-2">Nickname</p>
                            <div class="form-item d-flex align-content-center inputWrapper">
                                <input class="form-input form-input-view-student" type="text" value="{{student.alias}}" required disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 mt-3">
                            <p class="labels text-muted mb-0">Name</p>
                        </div>
                        <div class="col-md-4 col-view-student">
                            <p class="labels mt-2">First Name</p>
                            <div class="form-item d-flex align-content-center inputWrapper">
                                <input class="form-input form-input-view-student" type="text" value="{{student.first_name}}" name="first_name" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p class="labels mt-2">Middle Name</p>
                            <div class="form-item d-flex align-content-center inputWrapper">
                                <input class="form-input form-input-view-student" type="text" value="{{student.middle_name}}" name="middle_name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p class="labels mt-2">Last Name</p>
                            <div class="form-item d-flex align-content-center inputWrapper">
                                <input class="form-input form-input-view-student" type="text" value="{{student.last_name}}" name="last_name" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 mt-3">
                            <p class="labels text-muted mb-0">Address</p>
                        </div>
                        <div class="col-md-4 col-view-student">
                            <p class="labels mt-2">Street</p>
                            <div class="form-item d-flex align-content-center inputWrapper">
                                <input class="form-input form-input-view-student" type="text" value="{{student.street_address}}" name="street_address">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p class="labels mt-2">Barangay</p>
                            <div class="form-item d-flex align-content-center inputWrapper">
                                <input class="form-input form-input-view-student" type="text" value="{{student.brgy_address}}" name="brgy_address" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p class="labels mt-2">City/Town</p>
                            <div class="form-item d-flex align-content-center inputWrapper">
                                <input class="form-input form-input-view-student" type="text" value="{{student.city_address}}" name="city_address" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p class="labels mt-2">Province</p>
                            <div class="form-item d-flex align-content-center inputWrapper">
                                <input class="form-input form-input-view-student" type="text" value="{{student.province_address}}" name="province_address" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p class="labels mt-2">Zip</p>
                            <div class="form-item d-flex align-content-center inputWrapper">
                                <input class="form-input form-input-view-student" type="text" value="{{student.zip_address}}" name="zip_address" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p class="labels mt-2">Country</p>
                            <div class="form-item d-flex align-content-center inputWrapper">
                                <input class="form-input form-input-view-student" type="text" value="{{student.country_address}}" name="country_address" required>
                            </div>
                        </div>
                        <div class="col-sm-12 mt-3">
                            <label class="labels mt-2">Contact Number</label>
                            <button onclick="AddContactNumberViewStudent(this)" class="icon-button ml-2" data-toggle="tooltip" title="Add Contact Number" type="button"><i class="fa fa-plus fa-view-student" ></i></button>
                        </div>
                        {%if student.getContactNumbers is not null%}
                        <div class="col-md-4 mt-2">
                                <div class="form-item d-flex inputWrapper">
                                <span class="d-flex align-items-center mr-1">+63</span>
                                <input class="form-input form-input-view-student" type="text" value="{{student.getContactNumbers.0.contact_number}}" name="contact_number" pattern="[0-9]{10}" placeholder="9334123456">
                            </div>
                        </div>
                        {%else%}
                        <div class="col-md-4 mt-2">
                                <div class="form-item d-flex inputWrapper">
                                <span class="d-flex align-items-center mr-1">+63</span>
                                <input class="form-input form-input-view-student" type="text" value="" name="contact_number" pattern="[0-9]{10}" placeholder="9334123456">
                            </div>
                        </div>
                        {%endif%}
                        {%for contact in student.getContactNumbers%}
                        {%if not forloop.first%}
                        <div class="col-md-4 mt-2">
                        <div class="form-item d-flex inputWrapper">
                        <span class="d-flex align-items-center mr-1">+63</span>
                        <input class="form-input form-input-view-student" type="text" value="{{contact.contact_number}}" name="contact_number" pattern="[0-9]{10}" placeholder="9334123456">
                        <button onclick="RemoveContactNumber(this)" class="icon-button ml-2" data-toggle="tooltip" title="Remove Contact Number" type="button"><i class="fa fa-times remove-icon fa-view-student" ></i></button>
                        </div>
                        </div>
                        {%endif%}
                        {%endfor%}
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-view-student">
                            <p class="labels mt-5">College</p>
                            <div class="form-item d-flex align-content-center inputWrapper">
                                <select name="college_belong" id="college_belong" class="w-100 select-create-community" required>
                                {%for college in colleges%}
                                    <option value="{{college.name}}" {%if college.id == student.department_id.college_id.id%}selected{%endif%}>{{college.name}}</option>
                                {%endfor%}
                                </select>
                            </div>
                        </div>
                            <div class="col-md-6 col-view-student">
                                <p class="labels mt-5">Department</p>
                                <div class="form-item d-flex align-content-center inputWrapper">
                                    <select name="department_belong" id="department_belong" class="w-100 select-create-community" required>
                                    {%for department in departments%}
                                        <option value="{{department.id}}" {%if department.id == student.department_id%}selected{%endif%}>{{department.name}}</option>
                                    {%endfor%}
                                    </select>
                                </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-12" id="update-button-container-view-student">
                <button type="submit" class="float-right mr-5" id="updateBtn-view-student" name='btnUpdateStudent'>Update</button>
            </div>
        </form>
    </div>
    <!--Skills Table-->
    <div class="container container-communities">
        <div class="row">
            <div class="col-sm-12 col-md-3 p-0">
                <p class="text-center pageTitle p-1">Skills</p>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-sm-12 col-md-4 mr-5">
                <button type="button" class="float-right" id="addBtn" data-toggle="modal" data-target="#add-skill-modal">Grant Skill</button>
            </div>
        </div>
        <div class="row pl-5 pr-5 mt-2">
            <div class="col-xs-12 col-md-3 col-sm-5">
                <button type="button" id="exportBtn-skill" data-toggle="tooltip" title="Export as PDF File"><i class="fa fa-file-pdf-o icon-export mr-3"></i>Export</button>
            </div>
        </div>
        <div class="row pl-5 pr-5 mt-2">
            <div class="col-12 mt-3">
                <span class="communities-text">Filter By Date Acquired</span>
            </div>
        </div>
        <div class="row align-content-center pl-5 pr-5">
            <div class="col-sm-3 col-md-3 col-sm-6 mt-3">
                <div class="datepicker date input-group p-0 inputWrapper-communities">
                    <input type="text" placeholder="From" id="fromDate-skill">
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar icon-communities"></i></span></div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-sm-6 mt-3">
                <div class="datepicker date input-group p-0 inputWrapper-communities">
                    <input type="text" placeholder="To" id="toDate-skill">
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar icon-communities"></i></span></div>
                </div>
            </div>
            <div class="col-sm-0 col-md-2"></div>
            <div class="col-md-4 col-sm-12 mt-3">
                <div class="d-flex align-content-center inputWrapper-communities" id="searchWrapper" >
                    <i class="fa fa-search fa-search-communities icon-communities mr-2 ml-2"></i>
                    <input class="form-input-communities" type="text" id="searchTxb-skill" placeholder="Search">
                </div>
            </div>
        </div>
        <div class="row mt-3 pl-5 pr-5">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table w-100" id="skill-table">
                        <thead>
                            <tr>
                                <th>Date Acquired</th>
                                <th>Name</th>
                                <th>Level</th>
                                <th>Current Points</th>
                                <th>Points to Next Level</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {%for skill in skills%}
                            <tr>
                                <td>{{skill.date_acquired|date:'m-d-Y' }}</td>
                                <td>{{skill.skill_id.name}}</td>
                                <td>{{skill.level}}</td>
                                <td>{{skill.points_in_level}}</td>
                                <td>{{skill.getPointsToNextLevel}}</td>
                                <td><span data-toggle="tooltip" title="Edit"><button type="button" class="column-button edit-button-view-student ml-1 mr-1 mt-1" id="" 
                                    data-toggle="modal" data-target="#edit-skill{{skill.id}}-modal"><i class="fa fa-pencil button-icon-communities"></i></button></span>
                                    <span data-toggle="tooltip" title="Delete"><button type="button" class="column-button delete-button ml-1 mr-1 mt-1" id="" 
                                    data-toggle="modal" data-target="#delete-skill{{skill.id}}-modal"> <i class="fa fa-trash button-icon-communities"></i></button></span>
                                </td>
                            </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
        {%for skill in skills%}
      <!--Edit Skill Modal-->
      <div class="modal fade" id="edit-skill{{skill.id}}-modal" style="overflow-y: scroll;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content modal-content-communities">
            <div class="modal-header">
                <h5 class="modal-title text-center labels" id="exampleModalLabel">Student {{student.student_id_editable}} {{skill.skill_id.name}} Skill
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form class="row row-edit-community" method="POST">
                        {%csrf_token%}
                        <input type="text" value={{student.user_id}} name="student_id" hidden>
                        <input type="text" value="{{skill.id}}" name="skill_id" hidden>
                        <div class="col-sm-12 col-md-6">
                            <p class="labels">Skill Category</p>
                            <div class="form-item d-flex align-content-center inputWrapper">
                                <input class="form-input form-input-view-student" type="text" value="{{skill.skill_id.category.name}}" name ="skill_category" disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <p class="labels">Skill Name</p>
                            <div class="form-item d-flex align-content-center inputWrapper">
                                <input class="form-input form-input-view-student" type="text" value="{{skill.skill_id.name}}" name ="skill_name" disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 mt-3">
                            <p class="labels">Level</p>
                            <div class="form-item d-flex align-content-center inputWrapper">
                                <input class="form-input form-input-view-student" type="number" value="{{skill.level}}" min="0" name="skill_level">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 mt-3">
                            <p class="labels">Points In Level</p>
                            <div class="form-item d-flex align-content-center inputWrapper">
                                <input class="form-input form-input-view-student" type="number" value="{{skill.points_in_level}}" min="0" max={{skill.getMaxSkillPoint}} name="skill_current_points">
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <button class="pageBtn labels float-right" type="submit" name="btnUpdateSkill">Update</button>
                        </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!--Delete Skill Modal-->
      <div class="modal fade" id="delete-skill{{skill.id}}-modal" tabindex="-1" role="dialog" aria-labelledby="Delete" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title labels" id="exampleModalLabel">Are you sure you want to delete this skill?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form action="" method="POST">
        {%csrf_token%}
        <input type="text" name="skill_id" value="{{skill.id}}" hidden>
        <input type="text" name="student_id" value="{{student.user_id}}" hidden>
    <div class="modal-body">
        <input type="checkbox" name="" class="mt-0 ml-2 mb-0 mr-3 inputWrapper is-admin-checkbox understand-checkbox">
        <label for=""> I understand that the skill once deleted will be irretrievable.</label>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn pageBtn" data-dismiss="modal" style="width: fit-content;">NO</button>
        <button type="submit" class="btn btn-primary" id="btnDelete" name="btnDeleteSkill" disabled>YES</button>
    </div>
</form>
</div>
</div>
</div>
{%endfor%}
<!--Add Skill Modal-->
<div class="modal fade" id="add-skill-modal" style="overflow-y: scroll;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content modal-content-communities">
        <div class="modal-header">
            <h5 class="modal-title text-center labels" id="exampleModalLabel">Grant A Skill
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <form class="row row-edit-community" method="POST">
                    {%csrf_token%}
                    <input type="text" name="student_id" value="{{student.user_id}}" hidden>
                    <div class="col-sm-12 col-md-6">
                        <p class="labels">Skill Category</p>
                        <div class="form-item d-flex align-content-center inputWrapper">
                            <select name="skill_category" id="skill_category" class="w-100 select-create-community">
                            {%for category in skill_categories%}
                                <option value="{{category.id}}">{{category.name}}</option>
                            {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <p class="labels">Skill Name</p>
                        <div class="form-item d-flex align-content-center inputWrapper">
                            <select name="skill_id" id="skill_name" class="w-100 select-create-community" required>
                                {%for skill in default_skill_set%}
                                <option value="{{skill.id}}">{{skill.name}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mt-3">
                        <p class="labels">Level</p>
                        <div class="form-item d-flex align-content-center inputWrapper">
                            <input class="form-input form-input-view-student" type="number" value="1" min="0" name="skill_level">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mt-3">
                        <p class="labels">Points In Level</p>
                        <div class="form-item d-flex align-content-center inputWrapper">
                            <input class="form-input form-input-view-student" type="number" value="0" min="0" name="skill_current_points">
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <button class="pageBtn labels float-right" type="submit" name='btnGrantSkill'>Grant</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
    <!--Milestones Table-->
    <div class="container container-communities mb-5">
        <div class="row">
            <div class="col-sm-12 col-md-3 p-0">
                <p class="text-center pageTitle p-1">Milestone</p>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-sm-12 col-md-4 mr-5">
                <button type="button" class="float-right" id="addBtn" data-toggle="modal" data-target="#add-milestone-modal">Add Milestone</button>
            </div>
        </div>
        <div class="row pl-5 pr-5 mt-2">
            <div class="col-xs-12 col-md-3 col-sm-5">
                <button type="button" id="exportBtn-milestone" data-toggle="tooltip" title="Export as Excel File"><i class="fa fa-file-pdf-o icon-export mr-3"></i>Export</button>
            </div>
        </div>
        <div class="row pl-5 pr-5 mt-2">
            <div class="col-12 mt-3">
                <span class="communities-text">Filter By Date Acquired</span>
            </div>
        </div>
        <div class="row align-content-center pl-5 pr-5">
            <div class="col-sm-3 col-md-3 col-sm-6 mt-3">
                <div class="datepicker date input-group p-0 inputWrapper-communities">
                    <input type="text" placeholder="From" id="fromDate-milestone">
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar icon-communities"></i></span></div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-sm-6 mt-3">
                <div class="datepicker date input-group p-0 inputWrapper-communities">
                    <input type="text" placeholder="To" id="toDate-milestone">
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar icon-communities"></i></span></div>
                </div>
            </div>
            <div class="col-sm-0 col-md-2"></div>
            <div class="col-md-4 col-sm-12 mt-3">
                <div class="d-flex align-content-center inputWrapper-communities" id="searchWrapper" >
                    <i class="fa fa-search fa-search-communities icon-communities mr-2 ml-2"></i>
                    <input class="form-input-communities" type="text" id="searchTxb-milestone" placeholder="Search">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 mt-3">
                <label for="" class="mr-2"> Show</label>
                <label for="" class="ml-2 mr-2">Type:</label>
                <select name="" id="select-type-activities" class="ml-2 mr-2 select-activities">
                    <option value="" selected>All</option>
                    {%for milestone_type in milestone_types%}
                    <option value="{{milestone_type.name}}">{{milestone_type.name}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>
        <div class="row mt-3 pl-5 pr-5">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table w-100" id="milestone-table">
                        <thead>
                            <tr>
                                <th>Date Acquired</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {%for milestone in milestones%}
                            <tr>
                                <td>{{milestone.date_acquired|date:'m-d-Y' }}</td>
                                <td>{{milestone.name}}</td>
                                <td>{{milestone.milestone_type_id.name}}</td>
                                <td><span data-toggle="tooltip" title="View"><button type="button" class="column-button view-button ml-1 mr-1 mt-1" id="" 
                                    data-toggle="modal" data-target="#view-milestone{{milestone.id}}-modal"><i class="fa fa-eye button-icon-communities"></i></button></span>
                                    <span data-toggle="tooltip" title="Delete"><button type="button" class="column-button delete-button ml-1 mr-1 mt-1" id="" 
                                    data-toggle="modal" data-target="#delete-milestone{{milestone.id}}-modal"> <i class="fa fa-trash button-icon-communities"></i></button></span>
                                </td>
                            </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {%for milestone in milestones%}
      <!--View Milestone Modal-->
      <div class="modal fade" id="view-milestone{{milestone.id}}-modal" style="overflow-y: scroll;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content modal-content-communities">
            <div class="modal-header">
                <h5 class="modal-title text-center labels" id="exampleModalLabel">{{milestone.name}} Details
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" method="POST" enctype="multipart/form-data">
                    {%csrf_token%}
                    <input type="text" value="{{student.user_id}}" name="student_id" hidden>
                    <input type="text" value="{{milestone.id}}" name="milestone_id" hidden>
                    <div class="row justify-content-center row-edit-community">
                        <div class="col-md-10 col-sm-9">
                            {% if milestone.milestone_photo.url is not null%}
                            <img src="{{milestone.milestone_photo.url}}" alt="" class="image-background">
                            {%else%}
                            <img src="{%static 'assets/img/background.png'%}" alt="" class="image-background">
                            {%endif%}
                            <input type="text" name="changeFlag" class="changeFlag" value="F" hidden>
                            <input type="file" class="fileInput" hidden name='fileInput'>
                            <button class="uploadPhotoBtn pageBtn labels" type="button">Upload Photo</button>
                        </div>
                    </div>
                    <div class="row row-edit-community mt-4" method="POST">
                        <div class="col-sm-12 col-md-6 mt-3">
                            <p class="labels">Milestone Type</p>
                            <div class="form-item d-flex align-content-center inputWrapper">
                                <select name="milestone_type" id="" class="w-100 select-create-community">
                                    {%for milestone_type in milestone_types%}
                                    <option value="{{milestone_type.name}}" {%if milestone.milestone_type_id.name == milestone_type.name%} selected {%endif%}>{{milestone_type.name}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 mt-3">
                            <p class="labels">Milestone Name</p>
                            <div class="form-item d-flex align-content-center inputWrapper">
                                <input class="form-input form-input-view-student" type="text" name="milestone_name" value="{{milestone.name}}" required>
                            </div>
                        </div>
                        <div class="col-sm-12 mt-3">
                            <p class="labels">Description</p>
                            <div class="form-item inputWrapper">
                                <textarea class="form-input" name="milestone_text" rows="6">{{milestone.text}}</textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 mt-3">
                            <p class="labels">Direct Link</p>
                            <div class="form-item d-flex align-content-center inputWrapper">
                                <input class="form-input form-input-view-student" type="url" name="milestone_link" value="{{milestone.direct_link}}">
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <button class="pageBtn labels float-right" type="submit" name="btnUpdateMilestone">Update</button>
                        </div>
                    </div>
                    <div class="modal fade" id="view-photo-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-body">
                            {%if milestone.milestone_photo.url is not null%}
                                <img src="{{milestone.milestone_photo.url}}" alt="" id="image-content-modal">
                            {%else%}
                                <img src="{% static 'assets/img/background.png'%}" alt="" id="image-content-modal">
                            {%endif%}
                            </div>
                          </div>
                        </div>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
      <!--Delete Milestone Modal-->
      <div class="modal fade" id="delete-milestone{{milestone.id}}-modal" tabindex="-1" role="dialog" aria-labelledby="Delete" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title labels" id="exampleModalLabel">Are you sure you want to delete this milestone?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form action="" method="POST">
        {%csrf_token%}
        <input type="text" name="student_id" value="{{student.user_id}}" hidden>
        <input type="text" name="milestone_id" value="{{milestone.id}}" hidden>
    <div class="modal-body">
        <input type="checkbox" name="" class="mt-0 ml-2 mb-0 mr-3 inputWrapper is-admin-checkbox understand-checkbox">
        <label for=""> I understand that the milestone once deleted can no longer be retrieved</label>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn pageBtn" data-dismiss="modal" style="width: fit-content;">NO</button>
        <button type="submit" class="btn btn-primary" id="btnDelete" name="btnDeleteMilestone" disabled>YES</button>
    </div>
</form>
</div>
</div>
</div>
{%endfor%}
<!--Add Milestone Modal-->
<div class="modal fade" id="add-milestone-modal" style="overflow-y: scroll;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content modal-content-communities">
        <div class="modal-header">
            <h5 class="modal-title text-center labels" id="exampleModalLabel">Add Milestone
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="container" method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <input type="text" name="student_id" value="{{student.user_id}}" hidden>
                <div class="row justify-content-center row-edit-community">
                    <div class="col-md-10 col-sm-9">
                        <img src="{%static 'assets/img/background.png'%}" alt="" class="image-background">
                        <input type="file" class="fileInput" name='fileInput' hidden>
                        <button class="uploadPhotoBtn pageBtn labels" type="button">Upload Photo</button>
                    </div>
                </div>
                <div class="row row-edit-community mt-4" method="POST">
                    <div class="col-sm-12 col-md-6 mt-3">
                        <p class="labels">Milestone Type</p>
                        <div class="form-item d-flex align-content-center inputWrapper">
                            <select name="milestone_type" id="" class="w-100 select-create-community">
                            {%for milestone_type in milestone_types%}
                                <option value="{{milestone_type.name}}">{{milestone_type.name}}</option>
                            {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mt-3">
                        <p class="labels">Milestone Name</p>
                        <div class="form-item d-flex align-content-center inputWrapper">
                            <input class="form-input form-input-view-student" type="text" name="milestone_name" value="">
                        </div>
                    </div>
                    <div class="col-sm-12 mt-3">
                        <p class="labels">Description</p>
                        <div class="form-item inputWrapper">
                            <textarea class="form-input" name="milestone_description" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 mt-3">
                        <p class="labels">Direct Link</p>
                        <div class="form-item d-flex align-content-center inputWrapper">
                            <input class="form-input form-input-view-student" type="url" value="" name="milestone_link">
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <button class="pageBtn labels float-right" type="submit" name='btnGrantMilestone'>Add</button>
                    </div>
                </div>
                <div class="modal fade" id="view-photo-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-body">
                            <img src="{%static 'assets/img/background.png'%}" alt="" id="image-content-modal">
                        </div>
                      </div>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.22/b-1.6.5/b-html5-1.6.5/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/ellipsis.js"></script>
    <script src="{%static 'assets/js/addCommunity.js'%}"></script>
    <script src="{%static 'assets/js/viewStudent.js'%}"></script>
    <script src="{% static 'assets/js/sidebar.js'%}"></script>
</body>
</html>

